body {
  background-color: #1e1e1e;
}

#carouselContainer {
  width: 80vw;
  margin-left: 100px;
  margin-top: 20px;
}

#carouselBorder {
  border-bottom: solid #383434 1px;
  padding-bottom: 20px;
}

#homeButtonsContainer {
  height: 20vh;
  border-bottom: solid #383434 1px;
  padding-bottom: 20px;
}

#mainButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: 800px;
  margin-top: 60px;
  font-family: 'Poppins', sans-serif;
}

.homeButton {
  color: #5f5959;
  background: transparent;
  border: none;
  font-family: 'Poppins', sans-serif;
}

.homeButton:hover {
  color: white;
}

#Catz {
  font-size: 50px;
  border-right: solid #383434 1px;
  padding-right: 40px;
}

#catClubButton {
  margin-left: 10px;
  margin-top: 20px;
}

#clubContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-family: 'Pacifico', cursive;
}

#friendText {
  font-size: 7vh;
  color: white;
  margin-top: 50px;
  font-family: 'NTR', sans-serif;
}

#signUpLink {
  font-family: 'Poppins', sans-serif;
  color: #383434;
  background-color: transparent;
  border: none;
  font-size: 10px;
  margin-left: 8px;
}

#signUpLink:hover {
  color: white;
  border-bottom: solid white 1px;
}

img {
  height: 80vh;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productImage {
  max-width: 20vw;
  max-height: 30vh;
  flex-wrap: wrap;
}

#productContainer {
  display: flex;
  max-height: 200px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#addToCart {
  color: #139cd3;
  background: transparent;
  border: none;
}

#cartContainer {
  color: white;
  flex-direction: row;
}

.adminPage {
  color: white;
}

.adminOrders {
  margin-left: 20vw;
}

.ordersText {
  margin-left: 41vw;
  margin-bottom: 2vh;
}

#catCareText {
  color: white;
  font-family: 'NTR', sans-serif;
  font-size: 4vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 2.5vw;
}

.whiteDiv {
  height: 40vh;
  width: 30vw;
  background-color: white;
}

#whiteDivContainer {
  display: flex;
  justify-content: space-evenly;
}

.hoverText {
  visibility: hidden;
  opacity: 0;
  color: white;
}

#whiteDivContainer:hover .hoverText {
  visibility: visible;
  opacity: 1;
}

#friendText {
  padding-top: 3vh;
  border-top: solid rgb(56, 52, 52) 1px;
}

.catCareImage {
  max-height: 40vh;
  max-width: 30vw;
}

#blogButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: 18.5vh;
}

#galleryHomeButton {
  color: rgb(95, 89, 89);
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
  border: none;
  margin-left: 10px;
  margin-top: 20px; 
}

#galleryHomeButton:hover {
  color: white;
}

#catzBlog {
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 50px;
  border-right: solid rgb(56, 52, 52) 1px;
  padding-right: 40px;
}

#blogContainer {
  display: flex;
}

#blogTrashcan {
  outline: none; 
  height: 4.5vh; 
  width: 4vw; 
  margin-left: 5vw;
  margin-right: .5vw;
}

#blogEdit {
  outline: none;
  height: 4vh; 
  width: 3.5vw; 
  margin-right: .5vw;
}

#clubHomeButton {
  color: white;
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
  border: none;
  margin-left: 10px;
  margin-top: 10px; 
}

#clubHomeButton:hover {
  color: rgb(59, 56, 56);
}

#catzClub {
  font-family: 'Pacifico', cursive;
  /* color: rgb(235, 235, 235); */
  color: rgb(59, 56, 56);
  font-size: 30px;
  border-right: solid white 1px;
  padding-right: 20px;
  padding-left: 3vw;
  padding-top: .25vh;
}

#clubContainer {
  display: flex;
}

#catName {
  color: white;
  font-family: 'Poppins', sans-serif;
  border-bottom: solid white 1px;
  display: flex;
  justify-content: center;
}

#catDescription {
  color: white;
  font-family: 'Poppins', sans-serif;
  height: 2vh;
  padding-top: 2vh;
  padding-left: 1vw;
}

.editCat {
  border-radius: 20;
  z-index: 1;
}

#editForm {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
}

#addCat {
  color: white;
  margin-top: 4vh; 
  margin-right: 30vw; 
  margin-left: 30vw;
  display: flex;
  flex-direction: column;
  /* background-image: url('https://images.pexels.com/photos/1605482/pexels-photo-1605482.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') */
}

#addCatButton {
  height: 4.5vh;
  width: 3.5vw;
  color: white;
  margin-top: -20vh; 
  margin-right: 30vw; 
  margin-left: 72.5vw;
}

.addCatInput {
  border: white solid 1px;
  border-radius: 25px;
  outline: none;
  margin-bottom: 1vh;
  font-family: 'Poppins', sans-serif;
}

#cartImage {
  max-width: 20vw;
  max-height: 30vh;
}

#cartContainer {
  display: flex;
  padding-left: 40vw; 
  flex-direction: column;
  margin-top: 10vh;
}

#cartPriceContainer {
}

#cartDescriptionContainer {
}

#cartDeleteButton {
  margin-bottom: 2vh;
}

#cartTotal {
  color: white;
  display: flex;
  justify-content: flex-end;
  margin-top: -5vh;
}

/* #√  */

/* RESPONSIVENESS */
@media (max-width: 900px) {
  #friendText {
    font-size: 3.5vw;
  }
  .catCareImage {
    width: 20vw;
    height: 17vh;
  }
  .whiteDiv {
    width: 5vw;
    height: 6vh;
    margin-right: -10vw;
  }
  #whiteDivContainer {
    height: 20vh;
    width: 40vw;
    margin-right: 50vw;
    display: flex;
    justify-content: space-between;
  }
  #Catz {
    border: none;
    font-size: 10vw;
  }
  #clubContainer {
    display: flex;
    margin-left: 20vw; 
  }
  #mainButtons {
    margin: 0;
    font-size: 2vw;
    display: flex;
    justify-content: flex-start;
    margin-top: 10vh;
    margin-left: 1vw;
  }
  #catClubButton {
    display: none;
  }
  #carouselContainer {
    display: none;
  }
}

.openMenu {
  display: none;
}
/*# sourceMappingURL=Style.css.map */