
@import './variables';


//HOME COMPONENT

//Body of all the website.
body {
    background-color: $mainBackgroundColor;
}

//Carousel with cat pictures in it.
#carouselContainer {
    width: 80vw;
    margin-left: 100px;
    margin-top: 20px;
}

//Bottom border of the carousel on the home page.
#carouselBorder {
    border-bottom: solid rgb(56, 52, 52) 1px;
    padding-bottom: 20px;
}

//Box that all buttons on home page are on.
#homeButtonsContainer {
    height: 20vh;
    border-bottom: solid rgb(56, 52, 52) 1px;
    padding-bottom: 20px;
}

//Buttons that are on the left on home page.
#mainButtons {
    display: flex;
    font-size: 13px;
    justify-content: space-evenly;
    margin-left: 800px;
    margin-top: 60px;
    font-family: 'Poppins', sans-serif;
}

//All buttons that are on the home page
.homeButton {
    color: rgb(95, 89, 89);
    background: transparent;
    border: none;
    font-family: 'Poppins', sans-serif;
    &:hover {
        color: white;
    }
}

//Catz text (logo)
#Catz {
    font-size: 50px;
    border-right: solid rgb(56, 52, 52) 1px;
    padding-right: 40px;
}

//Cat club button by Catz.
#catClubButton {
    margin-left: 10px;
    margin-top: 20px; 
}

//Catz and Cat Club box.
#clubContainer{
    display: flex;
    color: white;
    font-family: 'Pacifico', cursive;
}

//Friends text near bottom.
#friendText {
    font-size: 7vh;
    color: white;
    margin-top: 50px;
    font-family: 'NTR', sans-serif;
}

//Sign up link
#signUpLink {
    font-family: 'Poppins', sans-serif;
    color: rgb(56, 52, 52);
    background-color: transparent;
    border: none;
    font-size: 10px;
    margin-left: 8px; 
    &:hover {
        color: white;
        border-bottom: solid white 1px;
    }
}

//Images (cat pictures) in carousel.
img {
    height: 80vh;
    width: 80vw;
    display: flex;
    align-items: center;
}

//PRODUCT COMPONENT

//Product images 
.productImage {
    max-width: 40vw;
    max-height: 30vh;
    margin-bottom: 20px;
}

//Holds all the product info in one box.
#productContainer {
    color: white;
    margin-left: 30vw;
    margin-bottom: 20px;
}

//Add to cart button.
#addToCart {
    color: rgb(19, 156, 211);
    background: transparent;
    border: none;
}

//LOGIN COMPONENT

#welcomeDiv {
    color: white;
}


// @mixin flex {
    
// }

// #homeContainer {
//     background-color: black;
//     button {
//         display: flex;
//         align-items: center;
//         justify-content: space-around;
//         color: white;
//         background-color: transparent;
//         border: none;
//         &: button: hover {
//             color: aquamarine;
//         }
//     }
// }