body {
  background-color: #1e1e1e;
}

#carouselContainer {
  width: 80vw;
  margin-left: 100px;
  margin-top: 20px;
}

#carouselBorder {
  border-bottom: solid #383434 1px;
  padding-bottom: 20px;
}

#homeButtonsContainer {
  height: 20vh;
  border-bottom: solid #383434 1px;
  padding-bottom: 20px;
}

#mainButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2vh;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: 70vw;
  margin-top: 9vh;
  font-family: 'Poppins', sans-serif;
  outline: none;
}

.homeButton {
  color: #5f5959;
  background: transparent;
  border: none;
  font-family: 'Poppins', sans-serif;
  outline: none;
}

.homeButton:hover {
  color: white;
}

#Catz {
  font-size: 50px;
  border-right: solid #383434 1px;
  padding-right: 40px;
}

#catClubButton {
  margin-left: 10px;
  margin-top: 20px;
}

#clubContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-family: 'Pacifico', cursive;
}

#friendText {
  font-size: 7vh;
  color: white;
  margin-top: 50px;
  font-family: 'NTR', sans-serif;
}

#signUpLink {
  font-family: 'Poppins', sans-serif;
  color: #383434;
  background-color: transparent;
  border: none;
  font-size: 10px;
  margin-left: 8px;
}

#signUpLink:hover {
  color: white;
  border-bottom: solid white 1px;
}

img {
  height: 80vh;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productImage {
  max-width: 20vw;
  max-height: 30vh;
  flex-wrap: wrap;
}

#productContainer {
  display: flex;
  max-height: 200px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#addToCart {
  margin-left: -1.3vw;
  margin-top: -2vh;
  color: #139cd3;
  background: transparent;
  border: none;
  outline: none;
}

#cartContainer {
  color: white;
  flex-direction: row;
}

/* ADMIN */
.adminPage {
  color: white;
}

.adminOrders {
  margin-left: 20vw;
}

.ordersText {
  margin-left: 41vw;
  margin-bottom: 2vh;
}

/* HOME */
#mobileHomePicture {
  display: none;
}

#catCareText {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  font-family: 'NTR', sans-serif;
  font-size: 4vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 2.5vw;
}

.whiteDiv {
  height: 40vh;
  width: 30vw;
  background-color: white;
}

#whiteDivContainer {
  display: flex;
  justify-content: space-evenly;
}

.hoverText {
  visibility: hidden;
  opacity: 0;
  color: white;
}

#whiteDivContainer:hover .hoverText {
  visibility: visible;
  opacity: 1;
}

#friendText {
  padding-top: 3vh;
  border-top: solid rgb(56, 52, 52) 1px;
}

.catCareImage {
  max-height: 40vh;
  max-width: 30vw;
}

/* GALLERY */
#blogButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: 18.5vh;
}

#galleryHomeButton {
  color: rgb(95, 89, 89);
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
  border: none;
  margin-left: 10px;
  margin-top: 20px; 
  outline: none;
}

#galleryHomeButton:hover {
  color: white;
}

#catzBlog {
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 50px;
  border-right: solid rgb(56, 52, 52) 1px;
  padding-right: 40px;
}

#blogContainer {
  display: flex;
}

#blogTrashcan {
  outline: none; 
  height: 4.5vh; 
  width: 4vw; 
  margin-left: 5vw;
  margin-right: .5vw;
}

#blogEdit {
  outline: none;
  height: 4vh; 
  width: 3.5vw; 
  margin-right: .5vw;
}

/* CLUB */
#clubHomeButton {
  color: white;
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
  border: none;
  margin-left: 10px;
  margin-top: 10px; 
  outline: none;
}

#clubHomeButton:hover {
  color: rgb(59, 56, 56);
}

#catzClub {
  font-family: 'Pacifico', cursive;
  /* color: rgb(235, 235, 235); */
  color: rgb(59, 56, 56);
  font-size: 30px;
  border-right: solid white 1px;
  padding-right: 20px;
  padding-left: 3vw;
  padding-top: .25vh;
}

#clubContainer {
  display: flex;
}
#clubBackgroundImage {
  background-image: url('https://images.pexels.com/photos/1938031/pexels-photo-1938031.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
  height: 100vh;
  width: 60vw;
}

#catzClubText {
  margin-left: 70vw;
  color: white;
  font-size: 17vh; 
  margin-top: -15vh; 
  font-family: Pacifico, cursive;
}

#registerButtonModal {
  font-family: Poppins, sans-serif; 
  margin-right: 9vw; 
  margin-left: 9vw;
}

#logoutButton {
  display: flex; 
  margin-top: 40vh;
}

#loginButtonModal {
  font-family: Poppins, sans-serif;
}

/* FORM/GALLERY */
#catName {
  color: white;
  font-family: 'Poppins', sans-serif;
  border-bottom: solid white 1px;
  display: flex;
  justify-content: center;
}

#catDescription {
  color: white;
  font-family: 'Poppins', sans-serif;
  height: 2vh;
  padding-top: 2vh;
  padding-left: 1vw;
}

.editCat {
  border-radius: 20;
  z-index: 1;
}

#editForm {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
}

#addCat {
  color: white;
  margin-top: 4vh; 
  margin-right: 30vw; 
  margin-left: 30vw;
  display: flex;
  flex-direction: column;
  /* background-image: url('https://images.pexels.com/photos/1605482/pexels-photo-1605482.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') */
}

#addCatButton {
  height: 4.5vh;
  width: 3.5vw;
  color: white;
  margin-top: -20vh; 
  margin-right: 30vw; 
  margin-left: 72.5vw;
}

.addCatInput {
  border: white solid 1px;
  border-radius: 25px;
  outline: none;
  margin-bottom: 1vh;
  font-family: 'Poppins', sans-serif;
}

/* DASHBOARD */
#cartIcon {
  height: 8vh;
  width: 5vw;
  margin-left: 37.5vw;
  margin-top: .5vh;
}

#productContainer {
  margin-top: 10vh;
  /* margin-left: 30vw; */
  /* border-left: solid white 1px; */
}

#mainDashboardContainer {
  color: white;
  margin-left: 20vw;
  border-left: solid white 1px;
  height: 100vh;
}

#dashMainButtons {
  display: flex;
  margin-left: -20vw;
  width: 20vw;
  /* border-right: solid white 1px; */
  /* height: 50vh; */
  /* color: white; */
  /* font-family: 'Pacifico', cursive; */
}

#dashboardCatz {
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  border-right: solid rgb(56, 52, 52) 1px;
  padding-right: 40px;
}

#dashboardHomeButton {
  color: rgb(95, 89, 89);
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
  border: none;
  margin-left: 1vw;
  margin-top: 3vh; 
}

#dashboardHomeButton:hover {
  color: white;
}

#cartButton {
  margin-left: 38vw;
}

/* CART */
#cartImage {
  max-width: 20vw;
  max-height: 30vh;
}

#cartContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  /* border: solid black 1px; */
}

#cartInfoContainer {
  color: black;
  background-color: white;
  margin-left: 30vw;
  width: 50vw;
  margin-bottom: 2vh;
  /* border: solid black 1px; */
}

#imageInfoContainer {
  margin-left: 20vw;
  position: relative;
  top: -15vh;
  /* margin-top: -20vh; */
  /* border: solid black 1px; */
  color:black;
  z-index: 1;
}

#cartPriceContainer {
  /* margin-left: 20vw; */
  /* margin-top: 30vh; */
}

#cartDescriptionContainer {
}

#cartDeleteButton {
  /* margin-bottom: 2vh; */
}

#cartTotal {
  color: white;
  font-family: 'Poppins', sans-serif;
  display: flex;
  margin-top: 3vh;
  /* justify-content: flex-end; */
  /* margin-top: -5vh; */
}

#cartCatz {
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  border-right: solid rgb(56, 52, 52) 1px;
  padding-right: 40px;
}

#cartHomeButton {
  color: rgb(95, 89, 89);
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
  border: none;
  margin-left: 1vw;
  margin-top: 2vh; 
}

#cartHomeButton:hover {
  color: white;
}

#cartConatiner {
  display: flex;
}

#pleaseLogIn {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  margin-top: -35vh;
  margin-right: 10vw;
}

#stripeButton {
  display: flex;
  margin-top: 4vh;
  /* justify-content: flex-end; */
  /* margin-top: -5vh; */
}

#cartCheckoutText {
  /* width: 2vw; */
   /* border-bottom: solid rgb(200, 200, 79) 1px; */
  padding-bottom: 1vh;
  color: rgb(200, 200, 79);
  display: flex;
  /* justify-content: flex-end; */
  font-family: 'Poppins', sans-serif;
  font-size: 2vw;
  /* margin-top: -5vh; */
}

#checkoutButtonsContainer {
  margin-right: 10vw;
  border: solid white 1px;
  display: flex;
  padding-left: 5vw;
  margin-left: 75vw;
  flex-direction: column;
  width: 20vw;
  height: 20vh;
}

/* ABOUT */
#aboutCat {
  height: 5vh;
  width: 4vw;
  margin-left: 18vw;
  margin-top: -4vh;
}

#aboutQuestionsText {
  color: white;
  font-family: 'Poppins', sans-serif;
  margin-left: 38vw;
}

#textAbout {
  height: 30vh;
}

.emailText {
  color: white;
  font-family: 'Poppins', sans-serif;
}

#email {
  display: flex;
  flex-direction: column;
  margin-top: 40vh;
  width: 50vw;
  margin-left: 25vw;
}

#emailButton {
  background-color: transparent;
  border: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin-top: 2vh;
  outline: none;
}

#aboutCatz {
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  border-right: solid rgb(56, 52, 52) 1px;
  padding-right: 40px;
}

#aboutHomeButton {
  color: rgb(95, 89, 89);
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
  border: none;
  margin-left: 10px;
  margin-top: 10px;
}

#aboutHomeButton:hover {
  color: white;
}

#aboutContainer {
    display: flex;
    color: white;
    font-family: 'Pacifico', cursive;
}

/* CATCARE */
.catCareTitles {
  color: white;
  font-family: 'Poppins', sans-serif;
  margin-top: 10vh;
  margin-left: 40vw;
  font-size: 5vh;
  font-weight: bold;
}

.catCareInfo {
  display: flex;
  color: white;
  font-family: 'Poppins', sans-serif;
  line-height: normal;
}

.catCareImages {
  max-width: 30vw;
  height: 40vh;
}

#careHomeButton {
  color: rgb(95, 89, 89);
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: 1vw;
  margin-top: 3vh; 
}

#careHomeButton:hover {
  color: white;
}

#catzCare {
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  border-right: solid rgb(56, 52, 52) 1px;
  padding-right: 40px;
}

#catCareContainer {
  display: flex;
}

/* #√  */

/* RESPONSIVENESS */
@media (max-width: 900px) {
  /* CATCARE */
  .catCareTitles {
    font-size: 3vh;
    margin-left: 10vw;
  }
  .catCareInfo {
    display: flex;
    flex-direction: column;
  }
  .catCareImages {
    max-width: 100vw;
    margin-left: 10vw;
  }


  /* ABOUT */
  #aboutCat {
    margin-left: 55vw;
    width: 10vw;
  }
  #aboutQuestionsText {
    margin-top: 2vh;
    margin-left: 18vw;
  }
  #email {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-left: 25vw;
  }
  #emailButton {
    color: white;
    border: none;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
  }


  /* CART */
  #imageInfoContainer {
    right: -25vw;
  }
  #cartInfoContainer {
    width: 98vw;
    margin-left: 1vw;
  }
  #cartImage {
    max-width: 55vw;
  }
  #cartCheckoutText {
    margin-left: 10vw;
    font-size: 3vh;
  }
  #stripeButton {
    margin-left: 12vw;
  }
  #checkoutButtonsContainer {
    margin-top: 10vh;
    width: 70vw;
    margin-left: 15vw;
  }
  #cartTotal {
    margin-left: 10vw;
  }
  #pleaseLogIn {
    margin-top: 10vh;
    font-size: 4vh;
  }


  /* FORM */
  #addCatButton {
    height: 4vh;
    width: 9vw;
  }
  #galleryCard {
    margin-right: 7vw;
  }
  #blogEdit {
    height: 5vh;
    width: 9vw;
    margin-right: 1vw;
    margin-top: -5vh;
    margin-bottom: 2vh;
  }
  #blogTrashcan {
    height: 5vh;
    width: 9vw;
    margin-right: 9vw;
    margin-top: -5vh;
    margin-bottom: 2vh;
  }
  

  /* DASHBOARD */
  #addToCart {
    position: absolute;
    margin-left: 20vw;
    margin-top: -10vh;

  }
  #cartIcon {
    margin-left: -8vw;
    width: 10vw;
    height: 5vh; 
  }
  #mainDashboardContainer {
    border: none;
  }
  #productContainer {
    /* width: 20vw; */
    display: flex;
    flex-flow: column;
    margin-left: 20vw;
    margin-top: 50vh;
  }
  .productImage {
    height: 10vh;
    width: 20vw;
  }


  /* CLUB */
  #clubBackgroundImage {
    /* display: none; */
    width: 100vw;
    height: 30vh;
  }
  #loginButtonModal {
    /* margin-left: -70vw; */
  }
  #logoutButton {
    display: flex;
    margin-left: -30vw;
    margin-top: 15vh;
  }
  #registerButtonModal { 
    margin-right: 7vw; 
    margin-left: 7vw;
  }
  #catzClubText {
    margin-left: 25vw;
    margin-top: 5vh;
    font-size: 10vh;
  }
  #catzClub {
    font-size: 10vh;
    border-right: none;
  }


  /* HOME */
  #catCareText {
    border-bottom: solid white 1px;
  }
  #mobileHomePicture {
    width: 80vw;
    height: 30vh;
    display: flex;
    margin-left: 10vw;
    margin-top: 2vh;
  }
  #friendText {
    font-size: 5vw;
    margin-left: 4vw;
  }
  .catCareImage {
    width: 30vw;
    height: 15vh;
  }
  .whiteDiv {
    width: 7vw;
    height: 8vh;
    margin-right: -40vw;
  }
  #whiteDivContainer {
    height: 10vh;
    width: 40vw;
    margin-right: 50vw;
    display: flex;
    justify-content: space-between;
  }
  #Catz {
    border: none;
    font-size: 20vw;
    margin-left: 4.5vw;
  }
  #clubContainer {
    display: flex;
    margin-left: 20vw; 
  }
  #mainButtons {
    margin: 0;
    font-size: 4vw;
    display: flex;
    justify-content: flex-start;
    margin-top: 7vh;
    margin-left: 10vw;
  }
  #catClubButton {
    font-size: 3vw;
    margin-left: 6vw;
    margin-top: -2vh;
  }
  #carouselContainer {
    display: none;
  }
}

.openMenu {
  display: none;
}
/*# sourceMappingURL=Style.css.map */